<h1>Biografia Brasileiras</h1>

<ul>
    <li>
        <span>Elza Soares</span>
        <p>Elza Soares (1930-2022) foi uma icônica cantora brasileira, conhecida por sua voz potente e estilo único que mesclava samba, jazz, e música popular brasileira. Nascida no Rio de Janeiro, Elza superou uma infância difícil e 
            tornou-se uma das maiores vozes da música brasileira, iniciando sua carreira na década de 1950. Além de seu impacto musical, ela foi uma voz ativa contra o racismo e a desigualdade de gênero. Sua trajetória inspiradora e 
            inovadora deixou um legado duradouro na cultura brasileira.</p>
        <img src="assets/Elza.webp" alt="Foto da Elza Soares">
    </li>
    <li>
        <span>Emicida</span>
        <p>Emicida, nome artístico de Leandro Roque de Oliveira (nascido em 1985), é um renomado rapper, cantor e compositor 
            brasileiro. Originário de São Paulo, ele ganhou destaque na cena do hip-hop nacional com suas letras contundentes
             e socialmente conscientes. Além de sua carreira musical, Emicida é empreendedor e fundou o selo Laboratório Fantasma,
              promovendo a cultura negra e periférica. Seu trabalho, que inclui álbuns aclamados como "Sobre Crianças, Quadris, Pesadelos 
              e Lições de Casa" e "AmarElo", transcende a música, abordando questões de identidade, resistência e empoderamento.</p>
        <img src="assets/Emicida.webp" alt="">
    </li>
    <li>
        <span>Mano Brown</span>
        <p>Mano Brown, nome artístico de Pedro Paulo Soares Pereira (nascido em 1970), é um influente rapper, cantor e compositor brasileiro. 
            Nascido e criado na zona sul de São Paulo, ele é um dos fundadores do grupo Racionais MC's, que se tornou um marco na música brasileira 
            com suas letras que retratam a realidade das periferias urbanas. Com álbuns icônicos como "Sobrevivendo no Inferno", Mano Brown se destacou 
            por seu estilo lírico poderoso e suas críticas sociais incisivas. Além de sua carreira com os Racionais MC's, ele lançou trabalhos solo, incluindo o 
            álbum "Boogie Naipe",</p>
        <img src="assets/Mano.webp" alt="">
    </li>
    <li>
        <span>BK</span>
        <p>BK', nome artístico de Abebe Bikila Costa Santos (nascido em 1989), é um rapper e compositor brasileiro, originário do Rio de Janeiro. Conhecido por suas 
            letras introspectivas e poéticas, ele se destacou na cena do rap nacional com álbuns como "Castelos & Ruínas" e "Gigantes", que abordam temas como a vida nas
             favelas, questões sociais e a busca pela identidade. BK' é um dos fundadores do coletivo musical Pirâmide Perdida, que tem sido fundamental para a renovação do 
             hip-hop no Brasil. Seu trabalho é aclamado tanto por críticos quanto por fãs, e ele é reconhecido por sua habilidade lírica e por trazer uma nova profundidade ao 
             rap brasileiro.</p>
             <img src="assets/BK.jpg" alt="">
    </li>
</ul>